.u-flex {
  display: -ms-flexbox;
  display: flex;
}
.u-flex-flow-row,
.u-flex-row {
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  flex-flow: row;
  box-orient: horizontal;
  flex-direction: row;
  box-orient: horizontal;
}
.u-flex-flow-column,
.u-flex-column {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  flex-flow: column;
  box-orient: vertical;
  box-orient: vertical;
}
.u-flex-row {
  display: -ms-flexbox;
  display: flex;
}
.u-flex-column {
  display: -ms-flexbox;
  display: flex;
}
.u-flex-centered {
  box-align: center;
  box-pack: center;
  -ms-flex-align: center;
      align-items: center;
}
.u-inflexible,
.u-flex-0 {
  -ms-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
}
.u-flex-1 {
  -ms-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
}
.u-flex-2 {
  -ms-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
}
.u-flex-3 {
  -ms-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
}
.u-flex-4 {
  -ms-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
}
.u-flex-5 {
  -ms-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
}
.u-flex-6 {
  -ms-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
}
.u-flex-7 {
  -ms-box-flex: 7;
  -ms-flex: 7;
  flex: 7;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
}
.u-flex-8 {
  -ms-box-flex: 8;
  -ms-flex: 8;
  flex: 8;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
}
.u-flex-9 {
  -ms-box-flex: 9;
  -ms-flex: 9;
  flex: 9;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
}
.u-flex-10 {
  -ms-box-flex: 10;
  -ms-flex: 10;
  flex: 10;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
}
.u-bold {
  font-weight: bold;
}
.u-nowrap {
  white-space: nowrap;
}
.u-nonav,
.u-unselectable {
  touch-callout: none;
}
.u-unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.u-height-auto {
  height: auto;
}
.u-width-auto {
  width: auto;
}
.u-height-fill,
.u-fill,
html.u-app,
html.u-app body {
  height: 100%;
}
.u-width-fill,
.u-fill,
html.u-app,
html.u-app body {
  width: 100%;
}
.u-margin-auto {
  margin: auto;
}
.u-border-box {
  box-sizing: border-box;
}
.u-border-box * {
  box-sizing: border-box;
}
.u-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.u-absolute {
  position: absolute;
}
.u-relative {
  position: relative;
}
.u-absolute-centering {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
html.u-app,
html.u-app body {
  overflow: hidden;
  box-sizing: border-box;
}
html.u-app *,
html.u-app body * {
  box-sizing: border-box;
}
.z-scroller {
  overflow: auto;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  flex-flow: column;
  box-orient: vertical;
  -ms-box-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.z-scroller .z-content-wrapper {
  -ms-box-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  justify-content: flex-start;
  flex-pack: start;
  -ms-flex-pack: start;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  flex-flow: row;
  box-orient: horizontal;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.z-scroller .z-content-wrapper-fix {
  z-index: -1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.z-vertical-scroller {
  overflow: hidden;
  overflow-y: auto;
  right: 0px;
  top: 0px;
  width: 1px;
  -ms-box-flex: none;
  -ms-flex: none;
  flex: none;
  visibility: hidden;
}
.z-horizontal-scroller {
  height: 0.1px;
  visibility: hidden;
}
.z-vertical-scrollbar {
  overflow: hidden;
  position: absolute;
  height: 100%;
  right: 0px;
  top: 0px;
}
.z-horizontal-scrollbar {
  transform: translate3d(0px, 0px, 1px);
  -ms-box-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: auto;
  width: 100%;
  position: relative;
  left: 0px;
  bottom: 0px;
  overflow: auto;
  z-index: 100;
}
.z-horizontal-scrollbar.mac-fix {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  flex-flow: row;
  box-orient: horizontal;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  justify-content: stretch;
  flex-pack: justify;
  -ms-flex-pack: justify;
}
.z-horizontal-scrollbar-fix {
  -ms-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
}
.loadmask {
  z-index: 100;
}
.z-unselectable {
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.react-datagrid,
.react-datagrid * {
  box-sizing: border-box;
}
.react-datagrid .z-resize-proxy {
  position: absolute;
  height: 100%;
  top: 0px;
  display: none;
  width: 3px;
  z-index: 1000;
  border-left: 1px solid #868686;
}
.react-datagrid.z-columns-resizable .z-resize-proxy {
  display: block;
}
.react-datagrid {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  flex-flow: column;
  box-orient: vertical;
  -ms-flex-align: stretch;
      align-items: stretch;
}
.react-datagrid .z-row,
.react-datagrid .react-datagrid-pagination-toolbar {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.react-datagrid .loadmask {
  z-index: 100;
}
.react-datagrid .z-header-menu-column {
  z-index: 100;
}
.react-datagrid > .z-inner {
  -ms-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  flex-flow: column;
  box-orient: vertical;
}
.react-datagrid > .z-inner .z-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  flex-flow: column;
  box-orient: vertical;
  -ms-box-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
}
.react-datagrid .z-header-wrapper,
.react-datagrid .z-footer-wrapper {
  width: 100%;
}
.react-datagrid .z-table {
  display: block;
  -ms-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
/** 2 RULES FOR SAFARI VERTICAL SCROLLBAR */
  transform: translate3d(0px, 0px, 0px);
  position: relative;
  z-index: 10;
}
.react-datagrid .z-header,
.react-datagrid .z-summary,
.react-datagrid .z-table .z-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  flex-flow: row;
  box-orient: horizontal;
  z-index: 1;
}
.react-datagrid .z-mask-wrapper {
  bottom: 0px;
  width: 100%;
  position: absolute;
  display: none;
}
.react-datagrid.z-loading .z-mask-wrapper {
  display: block;
}
.react-datagrid.z-empty .z-content-wrapper-fix {
  display: -ms-flexbox;
  display: flex;
}
.react-datagrid.z-empty .z-table-wrapper {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  flex-flow: column;
  box-orient: vertical;
  justify-content: center;
  flex-pack: center;
  -ms-flex-pack: center;
  -ms-flex-align: center;
      align-items: center;
}
.react-datagrid.z-empty .z-empty-text {
  width: 100%;
  justify-content: center;
  flex-pack: center;
  -ms-flex-pack: center;
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  font-style: italic;
  color: #808080;
}
.react-datagrid .z-header-menu-column {
  background: #fff;
  position: absolute;
  top: 0px;
}
.react-datagrid .z-header-menu-column .menu-row {
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.react-datagrid .z-header-menu-column .menu-row.over {
  background: #d7e7ff;
}
.react-datagrid .z-header {
  -ms-flex-align: stretch /* for vertical aligning text in header */;
      align-items: stretch /* for vertical aligning text in header */;
}
.react-datagrid.z-with-column-menu .z-column-header .z-show-filter,
.react-datagrid.z-with-column-menu .z-column-header .z-show-menu {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 0px;
  top: 0px;
  width: 15px;
  height: 100%;
  border-left: 1px solid #a8a8a8;
}
.react-datagrid.z-with-column-menu .z-column-header .z-show-filter {
  right: 15px;
  background: #fff;
}
.react-datagrid.z-with-column-menu .z-column-header.z-filterable .z-show-filter.z-active,
.react-datagrid.z-with-column-menu .z-column-header.z-filterable .z-show-filter:hover,
.react-datagrid.z-with-column-menu .z-column-header .z-show-menu.z-active,
.react-datagrid.z-with-column-menu .z-column-header .z-show-menu:hover {
  background: #fff;
}
.react-datagrid.z-with-column-menu .z-column-header.z-active .z-show-menu,
.react-datagrid.z-with-column-menu .z-column-header.z-active.z-filterable .z-show-filter,
.react-datagrid.z-with-column-menu .z-column-header.z-over .z-show-menu {
  display: block;
}
.react-datagrid.z-with-column-menu .z-column-header.z-over.z-filterable .z-show-filter {
  display: block;
}
.react-datagrid.z-with-column-menu .z-column-header.z-filtered {
  font-style: italic;
}
.react-datagrid .z-header-wrapper {
  -ms-box-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background: linear-gradient(to bottom, #f7f7f7 0%, #efefef 13%, #e6e6e6 100%);
  border-bottom: 1px solid #a8a8a8;
}
.react-datagrid .z-header-wrapper.z-dragging .z-column-header:not(.z-drag) {
  transition: left 0.4s;
}
.react-datagrid .z-column-header {
  position: relative;
  font-weight: bold;
}
.react-datagrid .z-column-header .z-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  flex-flow: row;
  box-orient: horizontal;
  height: 100%;
}
.react-datagrid .z-column-header .z-content {
  cursor: default;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.react-datagrid .z-column-header.z-sortable .z-inner {
  cursor: pointer;
}
.react-datagrid .z-column-header.z-over {
  background: linear-gradient(to bottom, #fbfbfb 0%, #f8f8f8 13%, #f4f4f4 100%);
}
.react-datagrid .z-column-header .z-icon-sort-info {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.react-datagrid .z-column-header.z-asc .z-icon-sort-info {
  border-bottom: 8px solid #6eb8f1;
}
.react-datagrid .z-column-header.z-desc .z-icon-sort-info {
  border-top: 8px solid #6eb8f1;
}
.react-datagrid .z-column-header.z-drag {
  z-index: 1;
  background: linear-gradient(to bottom, #fbfbfb 0%, #f8f8f8 13%, #f4f4f4 100%);
  border-right: 1px solid #a8a8a8;
  border-left: 1px solid #a8a8a8;
}
.react-datagrid .z-column-header .z-column-resize {
  display: inline-block;
  height: 100%;
  width: 3px;
  right: 0px;
  cursor: e-resize;
  top: 0px;
  position: absolute;
  z-index: 10;
}
.react-datagrid .z-column-header.z-last .z-inner .z-column-resize {
  display: none !important;
}
.react-datagrid .z-header .z-column-header.z-cell:not(.z-first) {
  border-left: 1px solid #a8a8a8;
}
.react-datagrid .z-header .z-column-header.z-cell.z-last {
  border-right: 1px solid #a8a8a8;
}
.react-datagrid.z-style-alternate .z-odd.z-row {
  background: #f2f7ff;
}
.react-datagrid .z-column-content {
  overflow: visible;
}
.react-datagrid.z-cell-ellipsis .z-row .z-cell .z-content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.react-datagrid .z-row.z-over,
.react-datagrid .z-row.z-over.z-odd {
  background: #d7e7ff;
}
.react-datagrid .z-row.z-selected,
.react-datagrid .z-row.z-selected.z-odd {
  background: #c4dbfc;
}
.react-datagrid .z-row .z-cell {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  cursor: default;
}
.react-datagrid .z-row .z-cell .z-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 5px;
}
.react-datagrid .z-group-row.z-over,
.react-datagrid .z-group-row.z-over.z-odd {
  background: #cfcfcf;
}
.react-datagrid .z-group-cell {
  -ms-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.react-datagrid .z-group-row {
  background: #e6e6e6;
}
.react-datagrid.z-cell-borders-horizontal .z-cell:not(.z-column-header) {
  border-bottom: 1px dotted #a8a8a8;
}
.react-datagrid.z-cell-borders-vertical .z-group-row .z-cell:not(.z-column-header),
.react-datagrid.z-cell-borders-vertical .z-cell.z-last:not(.z-column-header) {
  border-right: 1px dotted #a8a8a8;
}
.react-datagrid.z-cell-borders-vertical .z-cell:not(.z-first):not(.z-column-header) {
  border-left: 1px dotted #a8a8a8;
}
.react-datagrid .z-footer-wrapper {
  background: linear-gradient(to bottom, #f7f7f7 0%, #efefef 13%, #e6e6e6 100%);
}
.react-datagrid .z-summary {
  border-top: 1px solid #a8a8a8;
  -ms-flex-align: stretch /* for vertical aligning text in header */;
      align-items: stretch /* for vertical aligning text in header */;
}
.react-datagrid .z-summary .z-cell {
  position: relative;
  border-bottom: 1px solid #a8a8a8;
}
.react-datagrid .z-summary .z-cell .z-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  flex-flow: row;
  box-orient: horizontal;
  height: 100%;
}
.react-datagrid .z-summary .z-cell .z-content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.react-datagrid .z-summary .z-cell.z-last {
  border-right: 1px solid #a8a8a8;
}
.react-datagrid .z-summary .z-cell:not(.z-first) {
  border-left: 1px solid #a8a8a8;
}
